# Cấu hình Server API Service cho UrChatbot
PORT=3001

# Cấu hình OpenAI Compatible API
OPENAI_API_URL=https://api.groq.com/openai/v1/chat/completions
OPENAI_API_KEY=your_api_key_here
OPENAI_MODEL=qwen/qwen3.8-27b
